.mDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #0f0e0e;
}

#slide {
  width: 100%;
  height: 100%;
}

.loadbar {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: transparent;
  z-index: 2;
}

.curState {
  height: 3px;
  background-color: #fff;
  animation: currStateAni 5s linear infinite;
}

@keyframes currStateAni {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.item .name {
  font-size: 50px;
  font-weight: bold;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des {
  font-size: 13px;
  margin: 20px 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item button {
  border: none;
  padding: 10px 20px;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.item .name,
.item button,
.item .des {
  opacity: 0;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  width: 100%;
  padding: 0px 3%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 222222;
}

.item {
  width: 200px;
  height: 100px;
  background-position: center;
  transition: 0.8s;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 65%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #343131;
}

.item:nth-child(1) {
  display: none;
}

.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(n + 6) {
  display: inline-block;
}

.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  animation: imgAni 0.8s linear 1 forwards;
}

@keyframes imgAni {
  0% {
    left: 47%;
    bottom: 10%;
  }
  100% {
    left: 0px;
    bottom: 0%;
  }
}

.item:nth-child(3) {
  left: 47%;
}

.item:nth-child(4) {
  left: calc(47% + 220px);
}

.item:nth-child(5) {
  left: calc(47% + 440px);
}

.item:nth-child(n + 6) {
  left: calc(47% + 660px);
  opacity: 0;
}

.bn {
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: red;
  z-index: 3;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  text-shadow: 0 0 2px #0f0e0e;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  font-size: 20px;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #272829;
}
