* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}


html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;

}

.pageExt {
  max-width: 1750px;
  width: 100%;
  background-color: #fff;
}